{% extends 'layout.html' %}
{% block  conteudo %}
	<h2> olá {{nome}} :D</h2>
	<a href="/logout/">Sair</a>
		<br><br>

		<form action="/salvar/" method='post'>
			{% csrf_token %}
			<p>O que se passa em seu mundo?<br><input type="area" name="conteudo" /></p>
		<input type="submit">
	</form>
		
		<br><br>
	<p>Feed</p>
	<ul>
	{% for m in mensagens %}
		<li>{{m}}</li>
		<br>
	{% endfor %}
	</ul>	
	<form action="/buscar/" method='post'>
			{% csrf_token %}
			<p>Pesquisar amigo<br><input type="text" name="busca" /></p>
		<input type="submit" value="Buscar">
	</form>
	<br><br>
	<p>Amigos</p>

	<ul>
	{% for a in amigos %}
		<li><a href="/amigo/{{a.id}}">{{a}}</a></li>
		<br>
	{% endfor %}
	
	</ul>
	<br><br>
	<p>Timeline</p>

	<ul>
	{% for t in timeline %}
		<li>{{ t.user }} diz: {{t}}</li>
		<br>
	{% endfor %}
	</ul>


{% endblock %}