{% extends 'layout.html' %}
{% block  conteudo %}
	<h2> olá {{nome}} :D</h2>
	<a href="/logout/">Sair</a>
		<br>
		<form action="/salvar/" method='post'>
			{% csrf_token %}
			<p>O que se passa em seu mundo?<br><input type="text" name="conteudo" />
		<input type="submit" value="Postar"></p>
	</form>
	
	<h3>Feed</h3>
	<ul>
	{% for m in mensagens %}
		<li>{{m}}</li>
		<br>
	{% endfor %}
	</ul>	
	<form action="/buscar/" method='post'>
			{% csrf_token %}
			<p>Pesquisar amigo<br><input type="text" name="busca" />
		<input type="submit" value="Buscar"></p>
	</form>
	<h3>Amigos</h3>

	<ul>
	{% for a in amigos %}
		<li><a href="/amigo/{{a.id}}">{{a}}</a></li>
		<br>
	{% endfor %}
	
	</ul>
	<h3>O que está acontecendo:</h3>

	<ul>
	{% for t in timeline %}
		<li><b>{{ t.user }} diz:</b> {{t}}</li>
		<br>
	{% endfor %}
	</ul>


{% endblock %}